.comentario {
  width: 842px;
  height: 150px;
  display: flex;
  background-color: transparent; 
  gap: 16px;
  padding: 40px;
}

.fotoPerfil {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 0; 
}

.corpo {
  width: 766px;
  height: 120px;
  background-color: #1e1e2e; 
  border-radius: 8px;
  position: relative;
  padding: 11px 25px 0 20px; 
  display: flex;
  flex-direction: column;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.nome {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 2px;
}

.hora {
  font-size: 14px;
  color: rgba(153, 153, 153, 1);
}

.botaoExcluir {
  background: none;
  border: none;
  cursor: pointer;
}

.botaoExcluir img {
  width: 24px;
  height: 24px;
  padding-top: 8px;
}

.texto {
  margin-top: 29px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}

.rodape {
  position: absolute;
  bottom: -35px; 
  left: 3px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.rodape.curtido p,
.rodape.curtido .separador,
.rodape.curtido .likesCount {
  color: #0087ff;
}

.rodape.curtido .botaoLike img {
  filter: brightness(0) saturate(100%) invert(43%) sepia(90%) saturate(1478%) hue-rotate(187deg) brightness(101%) contrast(101%);
}


.botaoLike {
  display: flex;
  align-items: center;
  gap: 6px;
  background: none;
  border: none;
  cursor: pointer;
}

.botaoLike img {
  width: 20px;
  height: 20px;
  filter: none;
}

.likeInfo {
  display: flex;
  align-items: center;
  gap: 4px;
  padding-left: 4px;
  position: relative;
  top: -1px;
}

.likeInfo p {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  color: rgba(221, 221, 221, 1);
}

.separador {
  color: rgba(221, 221, 221, 1);
  font-size: 16px;
  line-height: 1;
  margin: 0;
}

.likesCount {
  color: rgba(221, 221, 221, 1);
  font-size: 14px;
  font-weight: bold;
}