.header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color:  rgba(14, 14, 27, 1);
}

.header img {
    width: 105px;
    height: 60px;
}

.header h1 {
    color: rgba(3, 111, 219, 1);
    font-size: 64px;
    font-family: 'Barlow', Arial, Helvetica, sans-serif;
    font-weight: 500;
}